---
layout: default
---

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">{{ page.title }}</h1>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">
        {{ content }}
      </p>
    </div>

    <div class="-my-8 divide-y-2 divide-gray-100">
      {%- if site.posts.size > 0 -%}
        {%- for post in site.posts -%}
          {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
          <div class="py-8 flex flex-wrap md:flex-nowrap">
            <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
              <span class="mt-1 text-gray-500 text-sm">{{ post.date | date: date_format }}</span>
            </div>
            <div class="md:flex-grow">
              <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">{{ post.title | escape }}</h2>
              {%- if site.show_excerpts -%}
                <p class="leading-relaxed">
                  {{ post.excerpt }}
                </p>
              {%- endif -%}
              <a class="text-indigo-500 inline-flex items-center mt-4" href="{{ post.url | relative_url }}">
                Więcej
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</section>
