---
layout: default
---

<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
        {{ site.full_title | escape }}
      </h1>
      <p class="mb-8 leading-relaxed">
        Grupa fanów oraz użytkowników języka 💎 Ruby z Wielkopolski.<br>
        Spotykamy się regularnie, aby dzielić się swoimi 💡 pomysłami w przyjaznej atmosferze z 🍕 przekąskami.
        {%- if site.social_media.meetup -%}
          <br>
          📅 Kalendarium dostępne na platformie <a class="text-blue-600 hover:text-blue-800 visited:text-purple-600" href="{{ site.social_media.meetup }}">Meetup</a>.
        {%- endif -%}
      </p>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center mx-auto" alt="hero" src="{{ "/assets/icons/ruby-logo.svg" | relative_url }}">
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-wrap -m-4 text-center">

      {%- if site.social_media.github -%}
        <div class="p-4 sm:w-1/4 w-1/2">
          <a class="hover:text-gray-900" href="{{ site.social_media.github }}">
            <img src="{{ "/assets/icons/github-logo.svg" | relative_url }}" class="h-10 my-4 mx-auto" alt="Github Logo">
            <p class="leading-relaxed">GitHub</p>
          </a>
        </div>
      {%- endif -%}

      {%- if site.social_media.discord -%}
        <div class="p-4 sm:w-1/4 w-1/2">
          <a class="hover:text-gray-900" href="{{ site.social_media.discord }}">
            <img src="{{ "/assets/icons/discord-logo.svg" | relative_url }}" class="h-10 my-4 mx-auto" alt="Discord Logo">
            <p class="leading-relaxed">Discord</p>
          </a>
        </div>
      {%- endif -%}

      {%- if site.social_media.meetup -%}
        <div class="p-4 sm:w-1/4 w-1/2">
          <a class="hover:text-gray-900" href="{{ site.social_media.meetup }}">
            <img src="{{ "/assets/icons/meetup-logo.svg" | relative_url }}" class="h-10 my-4 mx-auto" alt="Meetup Logo">
            <p class="leading-relaxed">Meetup</p>
          </a>
        </div>
      {%- endif -%}

      {%- if site.social_media.facebook -%}
        <div class="p-4 sm:w-1/4 w-1/2">
          <a class="hover:text-gray-900" href="{{ site.social_media.facebook }}">
            <svg stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="h-10 my-4 mx-auto" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
            <p class="leading-relaxed">Facebook</p>
          </a>
        </div>
      {%- endif -%}
    </div>
  </div>
</section>

<section class="text-gray-600 body-font relative">
  <div class="mt-24">
    <div class="absolute inset-0 bg-gray-300">
      <iframe width="100%"
              height="100%"
              frameborder="0"
              marginheight="0"
              marginwidth="0"
              title="map"
              scrolling="no"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2434.02854455629!2d16.934312116516807!3d52.406158879792805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47045b3fa0aa5faf%3A0x59133f36e26603d1!2sPlus%20Jeden!5e0!3m2!1spl!2spl!4v1646435956853!5m2!1spl!2spl"
              allowfullscreen=""
              loading="lazy"
              style="filter: grayscale(1) contrast(1.2) opacity(0.4);">
      </iframe>
    </div>
    <div class="container px-5 py-24 mx-auto flex">
      <div class="lg:w-1/3 md:w-1/2 bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md">
        <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Lokalizacja</h2>

        <div class="py-6">
          <p class="mt-1 font-bold">Plus Jeden</p>
          <p class="mt-1">Za Bramką 1</p>
          <p class="mt-1">67-842 Poznań</p>
        </div>
      </div>
    </div>
  </div>
</section>
