---
layout: default
---

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <article itemscope itemtype="http://schema.org/BlogPosting">

      <header>
        <div class="flex flex-wrap w-full mb-12 flex-col">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">{{ page.title | escape }}</h1>
          <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
              {{ page.date | date: date_format }}
            </time>
            {%- if page.author -%}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
            {%- endif -%}</p>
          </p>
        </div>
      </header>

      <div class="prose" itemprop="articleBody">
        {{ content }}
      </div>

      <a href="{{ page.url | relative_url }}" hidden></a>
    </article>
  </div>
</section>
